/* Style the navigation menu */
.topnav {
    position: fixed;
    width: 100%;
    background-color: #76276c;
    overflow: auto;
    top: 0;
    transition: top 0.3s;
    font-family: 'Play', sans-serif;

}

/* Navigation links */
.topnav a {
    float: left;
    display: block;
    padding: 15px;
    color: #AA9739;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

/* Add a background color on mouse-over */
.topnav a:hover {
    background-color: #AA3939;
}

/* Style the current/active link */
.topnav a.active {
    background-color: #AA3939;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
a{
    color: #76276c;
}
body{
    background-color: #AA9739;
}
p{
    /*color: #AA3939;*/
    color: #76276c;
    /*color: #AA9739;*/
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
    /*font-weight: bold;*/
}
h1{
    color: #76276c;
    text-align: center;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
}
.icon{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
.tm{
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
